<p><%= link_to "Return to Home", home_path %></p>
<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>
<%= link_to "Create New blog", new_blog_path %>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p> <%= link_to blog.status, toggle_status_blog_path(blog) %>
    </p>
    <p>
      <%= link_to "Show this blog", blog %>
      <%= link_to "Delete this blog", @blog, method: :delete %>
      <%= button_to "Delete this blog", @blog, data: { turbo: true, turbo_method: :delete } %>
    </p>
  <% end %>
</div>


