<p style="color: green"><%= notice %></p>
<h1><%= Date.current %></h1>
<br>
<div class="row px-3">
  <div class="col-md-8">
    <%= render @blog %>
    <div>
      <%= link_to "Edit this blog", edit_blog_path(@blog) if logged_in?(:admin, :editor) %>
      <%= link_to "Back to blogs", blogs_path %>

      <%= button_to "Delete this blog", @blog, method: :delete, class: 'btn btn-outline-danger' if logged_in?(:admin, :editor) %>
    </div>
  </div>
    <%= render "shared/blog_sidebar" %>
</div>

