<p style="color: green"><%= notice %></p>


<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:admin) %>

<% @portfolio_items.each do |portfolio_item| %>
  <p><%= portfolio_item.title.upcase %></p>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.main_image %>
  <%= image_tag portfolio_item.thumb_image %>
  <h2>Technologies Used:</h2>
  <%= portfolio_item.technologies.name %>
   
  <p>
      <%= link_to "Show this Portfolio", portfolio_item %>
    </p>
  <p>
    <%= button_to "Delete this Portfolio Item", @portfolio_item, method: :delete if logged_in?(:admin) %>
    </p>

    <hr>

    <%= params.inspect %>
    <% end %>