<p style="color: green"><%= notice %></p>

<%= render @portfolio_item %>

<div>
  <%= link_to "Edit this Portfolio", edit_portfolio_path(@portfolio_item) %>
  <%= link_to "Back to Portfolio Items", portfolio_item_path %>

  <%= button_to "Delete this Portfolio Item", @portfolio_items, method: :delete %>
</div>