<p style="color: green"><%= notice %></p>

<%= render "portfolio" %>

<h2>Technologies Used:</h2>
<% @portfolio_item.technologies.each do |t| %>
  <p><%= t.name %></p>
  <% end %>

<div>
  <%= link_to "Edit this Portfolio", edit_portfolio_path(@portfolio_item) %>
  <%= link_to "Back to Portfolio Items", portfolios_path %>

  <%= button_to "Delete this Portfolio Item", @portfolio_items, method: :delete %>
</div>

<hr>

<%= params.inspect %>

<hr>

<%= session.inspect %>

    <% if session[:source] %>
    <p>Thanks for visiting from <%= session[:source] %><p>
    <% end %>