<style type="text/css">
  body {
    background-color: whitesmoke;
  }
  h2 {
        color: aliceblue;
        text-shadow: 2px 2px 4px #000000;
        text-decoration: underline;
      }
.container {
  row-gap: 80px;
}
</style>

<div class="col d-flex justify-content-center">
  <div class="card" style="width: 60rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-7 p-3 justify-content-center d-flex">
          <%= image_tag @portfolio_item.main_image, width: "500" %>
        </div>
        <div class="col-md-5 p-3">
          <div class="row">
            <h2><%= @portfolio_item.title.upcase %></h2>
          </div>
          <br>
          <div class="row">
            <h3><%= @portfolio_item.subtitle %></h3>
          </div>
          <div class="row">
            <h6><%= @portfolio_item.body %></h6>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
            <div class="row position-bottom-3">
              <h4>Technologies Used:</h4>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover-container d-flex w-100 justify-content-center">
  <div class="row d-flex w-100 display-flex">
    <div class="col-md-4 text-center justify-content-center display-flex">
      <br>
      <p>
      <%= link_to "Edit this Portfolio", edit_portfolio_path(@portfolio_item) if logged_in?(:admin) %>
      </p>
    </div>

    <div class="col-md-4 text-center justify-content-center display-flex">
      <br>

      <p>
        <%= link_to "Back to Portfolio Items", portfolios_path %>
      </p>

    </div>

    <div class="col-md-4 text-center justify-content-center display-flex">
      <p><%= button_to "Delete this Portfolio Item", @portfolio_items, class: 'btn btn-outline-danger', method: :delete if logged_in?(:admin) %></p>
    </div>
  </div> 
</div>

<hr>
<h4>Obviously removable session inspection:</h4>
<%= session.inspect %>

<hr>

    <% if session[:source] %>
    <p>Thanks for visiting from <%= session[:source] %><p>
    <% end %>