<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h5 class="float-md-start mb-0">by Mark Popwell</h5>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <%= render "shared/application_nav" %>
      </nav>
    </div>
  </header>
</div>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <style>

    p.username {
      font-style: oblique;
      font-size: 24px;
      text-decoration: underline;
    }

    .other {
      column-count: 4;
    }
  </style>
</head>
  <body class="px-3">

    <div id="background"></div>

    <h1>About Me</h1>
<div class="container p-3">
  <div class="row px-3 justify-content-end">
    <div class="col-md-6 p-3">
      <%= image_tag "MarkbyRiver.JPG", width: 400, alt: "You Don't get to see the jeep by the river", class: "profile-img" %>
      <p>Down by the Snake River</p>
    </div>
    <div class="col-md-6 p-2">
      <p class="username">Biography & Interests:</p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas . . .          <button class="btn btn-outline-dark" 
                      type="button" 
                      data-toggle="collapse"
                      data-target="#biography"
                      aria-expanded="false"
                      aria-controls="biography">
                show more
              </button>
        </p>

              <div class="collapse" id="biography">
                 sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
          sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
          amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora voluptatem quia voluptas sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione.

                <div class="card card-body">
                  Or it could be in a card styled however I want. . . including images:
                  <%= image_tag "3nails.jpg", width: 64 %>
                </div>
              </div>

      </div>
        
  </div>
</div>

    <div class="row d-flex w-100 px-4">
      <div class="col-md-6 justify-content-left d-flex">
            <%= image_tag "JamiebyRiver.jpg", width: 400, alt: "You Don't get to see her by the river either", class: "profile-img" %>
      </div>
        <div class="col-md-6 justify-content-end align-right d-flex">
            <%= image_tag "GoldenGateBridge.jpg", width: 400, alt: "Popwell brothers by Golden Gate Bridge", class: "profile-img" %>
      </div>
        <div class="col-md-6">
          <p>Jamie by the Snake River</p>
        </div>
        <div class="col-md-6 d-flex justify-content-end text-right">
          <p>Popwell brothers by the Golden Gate Bridge</p>
        </div>
    </div>

    <p class="username">Biography & Interests:</p>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
      fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
      sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
      amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora

    </p>
    <h2>Some Other Cool Features:</h2>
    <div class="other">
      Aspernatur repellendus officiis sapiente, incidunt quod veniam tempora
      consequatur error, voluptas, nesciunt maiores quo quam earum repudiandae
      est modi doloremque temporibus eos ad. Odit labore, rerum nemo inventore
      sapiente natus, cupiditate amet nesciunt voluptas odio minima vero iste.
      Sunt, cumque asperiores! Magni nam possimus deserunt porro nihil, deleniti
      dolores esse reiciendis molestiae id adipisci dicta. Perferendis minus aut
      provident dicta, quasi consequatur dolores iusto similique vero
      voluptatibus earum quas vel id illum quia nesciunt voluptate ut nemo
      debitis ea tenetur neque! Voluptate magni praesentium eos adipisci, hic
      nisi amet eligendi eum odit minima maxime obcaecati vitae facilis id
      reiciendis repudiandae ducimus repellat ipsam explicabo sequi ratione.
      Quas ullam fugiat minima facere quia, ipsa rem perspiciatis eius odio
      excepturi nemo dolorum illo, voluptatum dolorem ea atque magni impedit
      pariatur. Veniam distinctio odio facere totam deleniti labore vel. Ullam
      error debitis facilis consectetur nisi magnam ut itaque quasi.
      Voluptatibus mollitia ipsam eius autem eaque dolor quae nobis quis quidem
      optio saepe eos incidunt, quo qui ratione inventore distinctio. Harum
      accusantium quasi, quibusdam voluptates iusto, fugit cum, iure repellendus
      vitae dolore voluptatibus rerum voluptate. Nemo, perspiciatis mollitia
      laboriosam cum vitae explicabo cumque dolores repudiandae enim.
    </div>
    <br>
    <hr>

<div class="row">
  <div class="col-md-2">
    
  </div>
  <div class="col-md-7">
        <div class="app-card-container">
      <div class="card p-3">
        <h3>About Me Alternative</h3>
        <div class="row">
          <div class="col-md-5">
            <%= image_tag "MarkbyRiver.JPG", width: 300, alt: "You Don't get to see the jeep by the river", class: "about-img" %>
            <div class="skills">
              <% @skills.each do |skill| %>
                <div class="skill">
                    <h5><%= skill.title %></h5>
                  <div class="progress">
                    <div 
                      class="progress-bar progress-bar-striped bg-success"
                      role="progressbar"
                      aria-valuenow="<%= skill.percent_utilized %>"
                      aria-valuemax="100"
                      style="width: <%= skill.percent_utilized %>%"
                    ></div>
                  </div>
                </div>

              <% end %>
            </div>
          </div>

          <div class="col-md-7">
            <p>
              some content
            </p>
            <p>
              here too
            </p>
            <p>
              <button class="btn btn-outline-dark" 
                      type="button" 
                      data-toggle="collapse"
                      data-target="#jobHistory"
                      aria-expanded="false"
                      aria-controls="jobHistory">
                Job History
              </button>

              <button class="btn btn-outline-dark" 
                      type="button" 
                      data-toggle="collapse"
                      data-target="#education"
                      aria-expanded="false"
                      aria-controls="education">
                Education
              </button>
            </p>

              <div class="collapse" id="jobHistory">
                 Something about Jobs?:

                <div class="card card-block">
                  Job1 - changing to card-block changes padding and gives margin top+bot 5px
                </div>

                <div class="card card-body">
                  Job2 Longer Text will expand the height of the card but not the width      
                </div>

                <div class="card card-body">
                  Job3 
                </div>

              </div>

              <div class="collapse" id="education">
                   School1
                  <div class="card card-body">
                    Or it could be in a card :
                    
                  </div>
              </div>
          </div>


        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-3">
    
  </div>  
</div>




<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>

<%= render "shared/blog_footer" %>

