<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h5 class="float-md-start mb-0">Welcome <%=current_user.first_name %>!</h5>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <%= render "shared/application_nav" %>
        </nav>
    </div>
  </header>
</div>

<h1>Home Page</h1>
<head>
    <title><%= @browser_title %></title>
    <style>
      img {
        width: 200px;
        border-radius: 100px;
        float: left;
        margin-right: 20px;
      }

      p.username {
        font-weight: bold;
        font-size: 24px;
      }
      h1 {
        font-size: 36px;
        font-style: italic;
        border: double;
        display: flex;
        justify-content: center;
        text-shadow: 2px 2px 4px #000000;
        box-shadow: 5px 5px #000000;
      }
      h2 {
        font-size: 30px;
        font-style: italic;
        width: 80%;
        margin-left: 10%;
        border: single;
        display: flex;
        justify-content: center;
        color: aliceblue;
        text-shadow: 2px 2px 4px #000000;
        text-decoration: underline;
      }
      h3 {
      	font-size: 24px;
        margin-bottom: 5px;
        margin-left: 100px;
        text-decoration: underline;
      }
      h4 {
        display: flex;
        justify-content: center;
        color: darkseagreen;
      }

      .columns {
        column-count: 3;
      }

      .portfolio_titles {
        display: flex;
        justify-content: center;
        margin-right: 40%;
        color: hotpink;
      }

      .Bio {
        margin-left: 10%;
        margin-right: 10%;
      }
    </style>
  </head>
  <body>
    <br>
    <%= image_tag "Profile.jpeg", width: 200, alt: "image could not be displayed" %>
    <p class="username">
      Follow on
      <a href="https://twitter.com/MarkPopwell" target="_blank"><%= fa_icon "twitter" %>  Twitter</a>
      @MarkPopwell or on
      <a href="https://facebook.com/" target="_blank">Facebook</a>
      that I will never see. . . totally up to you.
    </p>
    <p class="Bio">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veniam
      molestiae eligendi quam. Inventore vitae expedita, quibusdam dolorum iure
      placeat necessitatibus fugiat eum suscipit distinctio laboriosam magnam
      aspernatur tempora cumque dignissimos eius perspiciatis soluta delectus
      quaerat quod eos quidem laudantium. Consequuntur praesentium sint facere
      quibusdam quam est necessitatibus ratione eligendi. Nihil inventore
      deleniti dolores iure quisquam quo at totam labore amet! Laudantium
      dignissimos odio accusamus perspiciatis voluptatem eveniet est, quidem,
      dicta, corrupti vitae earum. Vero in suscipit
      sunt tempore illo maiores harum sequi necessitatibus magnam qui,
      temporibus nihil veritatis, dignissimos rerum libero.
    </p>
    <br>
    <br>
    <h3> Column Section</h3>
    <div class="columns">
      Incidunt animi sapiente et molestias officia eius iusto hic beatae odit
      omnis? Aperiam neque esse libero voluptatibus cumque vel architecto
      explicabo minus labore numquam quod, deserunt odio. Natus facilis culpa
      nihil voluptatum libero perferendis repudiandae maiores laborum dicta
      sint. Voluptate eius natus vero aut laboriosam, fuga deserunt tempora
      perspiciatis. Dolore, itaque soluta molestiae repudiandae voluptates,
      neque blanditiis, possimus cum laudantium laborum nemo. Vero in suscipit
      sunt tempore illo maiores harum sequi necessitatibus magnam qui,
      temporibus nihil veritatis, dignissimos rerum libero, voluptatum tempora
      veniam soluta reprehenderit aspernatur ex architecto repellat enim non.
      Doloribus!
    </div>
    <br>
  </body>

<h1>Current Portfolio Item Titles:</h1>
<br>
      <% @portfolio_items.each do |portfolio_item| %>
      <div class="portfolio_titles">
        <p><%= portfolio_item.title %></p>
      </div>
    <% end %>


<h1><%= link_to "Blog Posts:", blogs_path %></h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>
<hr>
<br>


  <footer class="mt-auto text-white-50 justify-content-center d-flex">
    <p>Homepage created with <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/MarkPopwell" class="text-white">@MarkPopwell</a>.</p>
  </footer>
</div>