<h4>Welcome <%=current_user.first_name %>!</h4>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Mark Popwell</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <%= render "shared/application_nav" %>
      </nav>
    </div>
  </header>
</div>
<h1>Home Page</h1>
<head>
    <title><%= @browser_title %></title>
    <style>
      img {
        width: 200px;
        border-radius: 100px;
        float: left;
        margin-right: 20px;
      }

      p.username {
        font-weight: bold;
        font-size: 24px;
      }
      h1 {
        font-size: 36px;
        font-style: italic;
        border: double;
        display: flex;
        justify-content: center;
        text-shadow: 2px 2px 4px #000000;
        box-shadow: 5px 5px #000000;
      }
      h2 {
        font-size: 30px;
        font-style: italic;
        border: single;
        display: flex;
        justify-content: center;
        color: aliceblue;
        text-shadow: 2px 2px 4px #000000;
        text-decoration: underline;
      }
      h3 {
      	font-size: 24px;
        margin-bottom: 5px;
        margin-left: 100px;
        text-decoration: underline;
      }
      h4 {
        display: flex;
        justify-content: center;
        color: darkseagreen;
      }

      .columns {
        column-count: 3;
      }
    </style>
  </head>
  <body>
    <a href="mailto:mark@popwell.com">Email Me</a>
    <h2>Imported HTML from VS Code</h2>
    <img src="images/Formated_6013.png" alt="image could not be displayed" />
    <p class="username">
      Follow on
      <a href="https://twitter.com/MarkPopwell" target="_blank">Twitter</a>
      @MarkPopwell or on
      <a href="https://facebook.com/" target="_blank">Facebook</a>
      that I will never see. . . totally up to you.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veniam
      molestiae eligendi quam. Inventore vitae expedita, quibusdam dolorum iure
      placeat necessitatibus fugiat eum suscipit distinctio laboriosam magnam
      aspernatur tempora cumque dignissimos eius perspiciatis soluta delectus
      quaerat quod eos quidem laudantium. Consequuntur praesentium sint facere
      quibusdam quam est necessitatibus ratione eligendi. Nihil inventore
      deleniti dolores iure quisquam quo at totam labore amet! Laudantium
      dignissimos odio accusamus perspiciatis voluptatem eveniet est, quidem,
      dicta, corrupti vitae earum. In sunt neque nam? Ut mollitia eos optio ab
      dolor, officia fugit similique amet vero quae dolorum voluptatem.
    </p>
    <h3> Column Section</h3>
    <div class="columns">
      Incidunt animi sapiente et molestias officia eius iusto hic beatae odit
      omnis? Aperiam neque esse libero voluptatibus cumque vel architecto
      explicabo minus labore numquam quod, deserunt odio. Natus facilis culpa
      nihil voluptatum libero perferendis repudiandae maiores laborum dicta
      sint. Voluptate eius natus vero aut laboriosam, fuga deserunt tempora
      perspiciatis. Dolore, itaque soluta molestiae repudiandae voluptates,
      neque blanditiis, possimus cum laudantium laborum nemo. Vero in suscipit
      sunt tempore illo maiores harum sequi necessitatibus magnam qui,
      temporibus nihil veritatis, dignissimos rerum libero, voluptatum tempora
      veniam soluta reprehenderit aspernatur ex architecto repellat enim non.
      Doloribus!
    </div>
  </body>

<h1><%= link_to "Current Portfolio Items:", portfolios_path %></h1>
    <% @portfolio_items.each do |portfolio_item| %>
    <p><%= portfolio_item.title %></p>
    <% end %>

<h1><%= link_to "Blog Posts", blogs_path %></h1>
<%= @posts.inspect %>

<h1>Skills</h1>
<%= @skills.inspect %>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Cover</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
        <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-black bg-white">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Homepage created with <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/MarkPopwell" class="text-white">@MarkPopwell</a>.</p>
  </footer>
</div>