<!DOCTYPE html>
<html>
  <head>
    <title><%= @browser_title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicons/3nails.ico' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <div id="background"></div>

  <body>
    <%= source_helper("application") %>

    <%= yield %>

    <%= render 'shared/alerts' %>

  </body>
</html>
