<!DOCTYPE html>
<html>
  <head>
    <title><%= @browser_title %></title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag "portfolios", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
    <body>
    <%= login_helper %>
    <%= source_helper("application") %>
    <%= render "shared/application_nav" %>

    <%= yield %>

    <%= render "shared/nav", location: 'bottom' %>

  </body>
</html>